.modale-header-search {
  //   display: flex;
  h2 {
    text-align: center;
  }
  i {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
.modale-body-search {
  width: 100%;
  // position: absolute;
  // margin-left: 190px;
  //   right: 20px;
  //   margin: 10px 25px;
  height: 45px;
  background-color: #e3e5e2;
  align-items: center;
  border-radius: 0.5rem;

  i {
    color: #2d3436;
    padding: 15px;
    font-size: 18px;
  }

  input {
    width: 85%;
    margin-left: 15px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    transform: translateY(-2px);
  }
}
.modale-conten-search {
  display: flex;
  width: 90%;
  left: 5%;
  align-items: center;
  .images {
    width: 12%;
    .image {
      width: 100%;
      margin-top: 10px;
    }
  }
  .info {
    margin-left: 10px;
    .name {
    }
    .address {
      // margin-top:-0px;
    }
  }
}
