.explore_container {
  padding: 12px 16px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  display: flex;
  .explore_container_left {
    width: 55%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 12px 20px;
    margin: 10px auto 20px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
    // background-color: rgb(245, 245, 64);
    .explore_profile{

    }
    .explore_images{
      width: 100%;
      background-color: rgb(235, 161, 64);

    }
    .explore_button{
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 100%;
      display: flex;
      .button{
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
    }
  }
  .explore_container_right {
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 12px 20px;
    margin: 10px auto 20px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
    background-color: green;
    .explore_place_hot {
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      padding: 12px 20px;
      margin: 10px auto 20px;
      box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
      h1 {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      .explore_place_hot_container {
        display: flex;
        .image_place {
          width: 30%;
          img {
            width: 80%;
            height: 60%;
          }
        }
      }
    }
    .explore_user_hot {
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      padding: 12px 20px;
      margin: 10px auto 20px;
      box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
      h1 {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
     
    }
    .explore_advertisement {
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      padding: 12px 20px;
      margin: 10px auto 20px;
      box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
    }
  }
}
